ul > li {
  list-style-type: none;
}

ul {
  padding: 0;
}

body {
  margin: 0;
}

* {
  -webkit-box-sizing: border-box !important;
  box-sizing: border-box !important;
}

@font-face {
  font-family: Futura PT;
  src: url("../fonts/FuturaPT-Book.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Futura PT;
  src: url("../fonts/FuturaPT-Heavy.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: Gotham Pro;
  src: url("../fonts/GothamPro-Black.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #333333 !important;
  font-family: FuturaPT, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: #333333 !important;
}
html > * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: FuturaPT, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

h1, h2, h3 {
  font-family: Futura PT;
  font-size: 44px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px;
  letter-spacing: 0em;
  color: #0F0F0E;
  margin: 0;
}

h2 {
  font-size: 32px;
  line-height: 41px;
}

h3 {
  font-size: 20px;
  line-height: 26px;
  color: #333333;
}

p, h4 {
  font-family: Futura PT;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  color: #333333;
  margin: 0;
}

.h2_gotham {
  font-family: Gotham Pro, sans-serif;
  font-weight: 900;
  font-size: 45px;
  line-height: 43px;
  color: #D8D8D8;
}

.h4_light {
  color: #7F7F7F;
}

a {
  text-decoration: none;
  color: inherit;
}

@media screen and (max-width: 860px) {
  h1 {
    font-size: 28px;
    line-height: 36px;
  }

  h2 {
    font-size: 24px;
    line-height: 31px;
  }

  h3 {
    font-size: 20px;
    line-height: 26px;
  }
}
.wrap {
  width: 100%;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}

header, section {
  width: 100%;
}

.btn {
  display: inline-block;
  background: #FFED00;
  border-radius: 6px;
  padding: 6px 20px;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.04em;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.btn:hover {
  cursor: pointer;
  background: #0F0F0E;
  color: #FFED00;
}
.btn__stroke {
  padding: 3.5px 20px;
  border: 2.3px solid #0F0F0E;
  background: inherit;
}
.btn__stroke > img {
  height: 15px;
  width: 13.7px;
  margin-top: 5px;
  margin-right: 5px;
}
.btn__stroke:hover {
  background: #F4F5F5;
  color: inherit;
}

.shadow {
  background: #fefefe;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.3), 0px 12px 12px 0px rgba(61, 54, 56, 0.07);
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.3), 0px 12px 12px 0px rgba(61, 54, 56, 0.07);
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 435px;
  padding: 38px 0px 0px 0px;
}
.form_caption {
  margin-top: 26px;
  text-align: center;
  line-height: 20px;
}
.form_btn {
  position: relative;
  top: 20px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 60px;
  z-index: 999;
  background: #FEFEFE;
  -webkit-box-shadow: 0px 4px 4px rgba(15, 15, 14, 0.1);
  box-shadow: 0px 4px 4px rgba(15, 15, 14, 0.1);
}
header > .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header_menu {
  display: inline-block;
}
.header_menu > li {
  display: inline-block;
  height: 0;
  margin-right: 25px;
  line-height: 20px;
  background: #FEFEFE;
}
.header_menu > li:first-child {
  display: none;
}
.header_menu > li:nth-child(2) {
  margin-right: 45px;
}
.header_burger {
  display: none;
  margin: 22px 20px 19px 0;
}
.header__show {
  top: 0px !important;
  height: 53px !important;
}
.header_logo_burger {
  margin-top: 12px;
  display: none;
}
.header_logo_burger:hover {
  cursor: pointer;
}

.main {
  margin-top: 120px;
}
.main > .wrap {
  max-width: 775px;
}
.main_navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.otpiska {
  margin-top: 75px;
  height: 320px;
}

.lead {
  margin-top: 75px;
  height: 320px;
}

.btn__nav {
  display: inline-block;
  border-radius: 6px;
  padding: 6px 20px;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.04em;
  -webkit-transition: background 0.5s;
  transition: background 0.5s;
}
.btn__nav:hover {
  color: inherit;
  background: inherit;
  cursor: pointer;
}
.btn__nav__active {
  border: none;
  background: #FFED00;
  color: #0F0F0E;
}
.btn__nav__active:hover {
  background: #FFED00;
}

.wrap__tight {
  width: 775px;
}

.folder {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  opacity: 0%;
  margin-bottom: 65px;
}
.folder > .wrap > ul {
  margin-top: 25px;
  margin-left: 75px;
}
.folder > .wrap > ul > li {
  font-family: Futura PT;
  font-weight: 400;
  position: relative;
  line-height: 20px;
  margin-bottom: 10px;
}
.folder > .wrap > ul > li:before {
  position: absolute;
  top: 7px;
  left: -18px;
  display: inline-block;
  content: "";
  width: 6px;
  height: 6px;
  background: #333333;
  border-radius: 3px;
}
.folder > .wrap > h2 {
  margin-top: 35px;
}
.folder > .wrap > p {
  margin-bottom: 10px;
  line-height: 20px;
  margin-left: 75px;
}
.folder > .wrap > h3 {
  margin-top: 25px;
  margin-bottom: 12px;
}
.folder_li__bold {
  font-weight: 600;
}

.folder__visible {
  position: static;
  pointer-events: auto;
  opacity: 100%;
}

.folder3 h2 {
  margin-bottom: 25px;
}
.folder3 p {
  margin-bottom: 10px;
}
.folder3 ul > li {
  text-decoration: underline;
}
.folder3 ul > li:before {
  top: 2px !important;
  width: 11px !important;
  height: 15px !important;
  background: url("../img/icons/download.svg") no-repeat center center !important;
}

.btn__blue {
  display: inline-block;
  background: #279ED1;
  border: 2.3px solid #279ED1;
  color: #fefefe;
  border-radius: 6px;
  padding: 5px 20px 7px 20px;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.04em;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.btn__blue > img {
  position: relative;
  top: 4px;
  margin-left: 12px;
}
.btn__blue > img:last-child {
  display: none;
}
.btn__blue:hover {
  background: #fefefe;
  color: #279ED1;
  cursor: pointer;
}
.btn__blue:hover > img {
  display: none;
}
.btn__blue:hover > img:last-child {
  display: inline-block;
}

.folder4_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  width: 100%;
  margin-top: 25px;
}
.folder4_card {
  width: 460px;
  padding: 35px 25px;
}
.folder4_card > h3 {
  margin-bottom: 7px;
}
.folder4_card > p {
  line-height: 20px;
  margin-bottom: 20px;
}
.folder4_card input[type=text] {
  width: 100%;
  height: 40px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 12px;
  border-radius: 12px;
  background: #F4F5F5;
  border: none;
  outline: none;
  font-size: 18px;
  line-height: 18px;
  font-family: Futura PT;
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.folder4_card textarea {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 12px;
  border-radius: 12px;
  background: #F4F5F5;
  border: none;
  outline: none;
  font-size: 18px;
  line-height: 18px;
  font-family: Futura PT;
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  appearance: none;
  resize: none;
  overflow: auto !important;
}
.folder4_card textarea::-webkit-scrollbar {
  display: none;
}
.folder4_card button[type=submit] {
  background: #FFED00;
  border-radius: 6px;
  padding: 6px 20px;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.04em;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  outline: none;
}
.folder4_card button[type=submit]:hover {
  cursor: pointer;
  background: #0F0F0E;
  color: #FFED00;
}
.folder4_card .btn__blue {
  float: right;
}
.folder4_card .btn__blue:after {
  display: block;
  content: "";
  clear: both;
}
.folder4_box {
  display: inline-block;
  margin-left: 40px;
}
.folder4_box > h3 {
  position: relative;
  margin-top: 15px;
  margin-bottom: 7px;
}
.folder4_box > p {
  line-height: 20px;
}
.folder4_box .folder4_tel:before {
  position: absolute;
  top: 3px;
  left: -37px;
  display: inline-block;
  content: "";
  width: 24px;
  height: 27px;
  background: url("../img/icons/tel.svg") no-repeat center center;
}
.folder4_box .folder4_email:before {
  position: absolute;
  top: 0px;
  left: -35px;
  display: inline-block;
  content: "";
  width: 24px;
  height: 27px;
  background: url("../img/icons/mail.svg") no-repeat center center;
}

@media screen and (max-width: 860px) {
  .folder4_container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .folder4_box {
    margin-top: 30px;
  }
}
@media screen and (max-width: 500px) {
  .folder4_card {
    width: 100%;
  }
  .folder4 .btn__blue {
    margin-top: 15px;
    float: none;
  }
}
@media screen and (max-width: 775px) {
  .main {
    margin-top: 75px;
  }
  .main_navigation {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .main_navigation li {
    margin-top: 15px;
    margin-right: 15px;
  }

  .folder {
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 1100px) {
  .wrap {
    width: 90%;
  }
}
@media screen and (max-width: 860px) {
  header .btn {
    display: none;
  }
  header > .wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    width: 100%;
  }

  .header_menu {
    position: fixed;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    margin: 0 !important;
    z-index: 2;
  }
  .header_menu > li {
    position: relative;
    top: -300px;
    left: 0;
    width: 100%;
    padding-left: 5%;
    -webkit-transition: all 0.1s;
    transition: all 0.1s;
    border-bottom: 2.3px solid #F4F5F5;
    z-index: 3;
    -webkit-transition: all 1s;
    transition: all 1s;
  }
  .header_menu > li:first-child {
    display: inline-block;
    border-top: none;
    z-index: 9;
    top: 0;
    left: 0;
    width: 100%;
    height: 65px;
  }
  .header_menu > li:first-child > img {
    float: right;
  }
  .header_menu > li:first-child > img:after {
    display: block;
    content: "";
    clear: both;
  }
  .header_menu > li:nth-child(2) {
    display: none;
  }
  .header_menu > li:last-child {
    background: #FEFEFE;
    border-bottom: none;
    -webkit-box-shadow: 0px 4px 4px rgba(15, 15, 14, 0.1);
    box-shadow: 0px 4px 4px rgba(15, 15, 14, 0.1);
  }
  .header_menu > li > a {
    display: inline-block;
    width: 100%;
    padding: 15px 0 15px 0;
  }
  .header_burger {
    display: inline-block;
  }
  .header_burger:hover {
    cursor: pointer;
  }
  .header_logo_burger {
    display: inline-block;
  }
}
.first {
  padding-top: 90px;
  margin-top: 65px;
  background: url("../img/bg/first.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
}
.first h1, .first h3 {
  display: block;
  color: #FEFEFE;
}
.first h3 {
  margin-top: 30px;
}
.first_text {
  display: inline-block;
  width: 50%;
  margin-bottom: 120px;
}
.first_form {
  float: right;
}
.first_form:after {
  display: block;
  content: "";
  clear: both;
}

@media screen and (max-width: 990px) {
  .first_text {
    width: 40%;
  }
}
@media screen and (max-width: 860px) {
  .first {
    padding-top: 60px;
    padding-bottom: 50px;
    background-position: 90%;
  }
  .first_form {
    float: none;
    margin-left: auto;
    margin-right: auto;
  }
  .first_text {
    width: 100%;
    margin-bottom: 54px;
    text-align: center;
  }
  .first h3 {
    margin-top: 15px;
  }
}
@media screen and (max-width: 500px) {
  .first_form {
    width: 100%;
  }
  .first_form .form_label {
    top: 14px;
    left: -20px;
  }
  .first_form .form_label2 {
    left: 200px;
  }
}
.second {
  overflow: hidden;
}
.second > .wrap > h2 {
  margin-top: 95px;
  margin-bottom: 20px;
}
.second_card {
  width: 225px;
  min-height: 315px;
  padding: 30px 25px 0 25px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.second_card:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}
.second .h2_gotham {
  float: right;
}
.second .h2_gotham:after {
  content: "";
  display: block;
  clear: both;
}
.second h3 {
  line-height: 24px;
  margin-top: 15px;
}
.second p {
  line-height: 20px;
  margin-top: 7px;
}
.second_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  width: 100%;
  margin-top: 5px;
}

@media screen and (max-width: 860px) {
  .second > .wrap > h2 {
    margin-top: 50px;
  }
}
.third > .wrap > h2 {
  margin-top: 95px;
}
.third_slider {
  top: -40px;
}
.third_slider-arrows {
  position: relative;
  top: -40px;
}

.plan {
  width: 470px;
  margin-right: 20px;
  min-height: 397px;
  padding-top: 216px;
  padding-left: 35px;
}
.plan:last-child {
  margin-right: 0;
}
.plan_1 {
  background: url("../img/bg/plan-1.png") no-repeat right top #C8F0EB;
}
.plan_2 {
  background: url("../img/bg/plan-2.png") no-repeat right top #C3F1FA;
}
.plan_3 {
  background: url("../img/bg/plan-3.png") no-repeat right top #FBD983;
}
.plan_4 {
  padding-top: 194px;
  background: url("../img/bg/plan-4.png") no-repeat right top #BBF1D4;
}
.plan_card {
  width: 175px;
  min-height: 161px;
  padding-top: 17px;
  background: #fefefe;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.plan_card:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}
.plan_card > h3 {
  margin-left: 20px;
  margin-bottom: 7px;
}
.plan_card > p {
  line-height: 20px;
  margin-left: 20px;
  margin-bottom: 15px;
}
.plan_btn {
  width: 100%;
  height: 40px;
  padding: 0 20px 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #FFED00;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  line-height: 28px;
  letter-spacing: 0.04em;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.plan_btn:hover {
  cursor: pointer;
  background: #0F0F0E;
  color: #FFED00;
}

@media screen and (max-width: 860px) {
  .third > .wrap > h2 {
    margin-top: 50px;
  }
}
@media screen and (max-width: 560px) {
  .plan {
    width: 100vw;
    margin-right: 0;
  }
}
.forth > .wrap > h2 {
  margin-top: 95px;
  margin-bottom: 5px;
}
.forth > .wrap > h3 {
  max-width: 75%;
  margin-bottom: 20px;
}

.forth {
  overflow: hidden;
}

.var {
  position: relative;
  margin-top: 28px;
  margin-right: 20px;
  width: 306px;
  height: 100px;
  background: #fefefe;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  poiner-events: none;
}
.var:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}
.var:last-child {
  margin-right: 0;
}
.var > img {
  position: absolute;
  top: -28px;
  left: 25px;
  poiner-events: none;
}
.var > h3 {
  margin-left: 165px;
  margin-top: 38px;
}

@media screen and (max-width: 860px) {
  .forth > .wrap > h2 {
    margin-top: 50px;
  }
}
.fifth > .wrap > h2 {
  margin-top: 95px;
  margin-bottom: 20px;
}
.fifth_card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
  width: 470px;
  min-height: 150px;
  margin-right: 20px;
  margin-bottom: 20px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.fifth_card:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}
.fifth_card:last-child {
  margin-right: 0;
}
.fifth_card > img {
  margin-right: 20px;
}
.fifth_text {
  padding-top: 20px;
}
.fifth_text > h3 {
  margin-bottom: 7px;
}
.fifth_text > p {
  line-height: 20px;
}

@media screen and (min-width: 861px) {
  .fifth_card {
    width: 49%;
    margin-right: 0;
  }

  .fifth_slider {
    width: 100%;
  }
  .fifth_slider-list {
    width: 100%;
  }
  .fifth_slider-track {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
    width: 100%;
  }
}
@media screen and (max-width: 1066px) and (min-width: 861px) {
  .fifth_card {
    width: 49%;
    margin-right: 0;
  }
}
@media screen and (max-width: 960px) {
  .fifth > .wrap > h2 {
    margin-top: 50px;
  }
}
.sixth > .wrap > h2 {
  margin-top: 95px;
  margin-bottom: 20px;
}
.sixth_card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
  width: 306px;
  padding: 20px 25px;
  margin-bottom: 20px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.sixth_card:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}
.sixth_text > h3 {
  margin-top: 15px;
  margin-bottom: 7px;
}
.sixth_text > p {
  line-height: 20px;
}

@media screen and (min-width: 1066px) {
  .sixth_card {
    height: 263px;
  }
}
@media screen and (max-width: 1065px) {
  .sixth_card {
    width: 90vw;
    margin-right: 0;
  }
  .sixth_slider-track {
    font-display: column;
  }
}
@media screen and (max-width: 960px) {
  .sixth > .wrap > h2 {
    margin-top: 50px;
  }
}
@media screen and (min-width: 861px) {
  .sixth_card {
    margin-right: 0;
  }

  .sixth_slider {
    width: 100%;
  }
  .sixth_slider-list {
    width: 100%;
  }
  .sixth_slider-track {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
    width: 100%;
  }
}
.seventh {
  background: linear-gradient(86.03deg, #C8F0EB 13.54%, #C3F1FA 89.17%);
  width: 960px;
  margin-top: 55px;
  margin-left: auto;
  margin-right: auto;
}
.seventh > .wrap {
  padding: 40px 65px 30px 65px;
}
.seventh > .wrap > h2 {
  width: 100%;
  margin-bottom: 5px;
}
.seventh > .wrap > h3 {
  margin-bottom: 15px;
  max-width: 60%;
}
.seventh > .wrap ul, .seventh > .wrap li {
  line-height: 30px;
}
.seventh > .wrap ul {
  margin-bottom: 20px;
}
.seventh > .wrap > ul > li:before {
  content: "";
  display: inline-block;
  width: 21px;
  height: 19px;
  margin-right: 6px;
  background: url("../img/icons/Unordered list.svg") no-repeat center center;
}
.seventh > .wrap > img {
  float: right;
  position: relative;
  top: -100px;
}
.seventh > .wrap > img:after {
  display: block;
  content: "";
  clear: both;
}

@media screen and (max-width: 960px) {
  .seventh {
    width: 100%;
    margin-top: 50px;
  }
  .seventh > .wrap {
    padding-left: 0;
    padding-right: 0;
  }
}
@media screen and (max-width: 1065px) {
  .seventh > .wrap > h3 {
    width: 100%;
    margin-bottom: 0;
  }
  .seventh > .wrap > img {
    float: none;
    position: relative;
    top: 0;
    left: -17px;
  }
  .seventh > .wrap > ul {
    margin-top: 0;
  }
}
.eighth > .wrap > h2 {
  margin-top: 178px;
  margin-bottom: 20px;
}
.eighth_video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  max-width: 620px;
}
.eighth .video_block {
  background-size: cover;
}
.eighth .video_block:nth-child(1) {
  background: url("../img/gif/feedback1.gif") no-repeat;
  background-size: cover;
}
.eighth .video_block:nth-child(2) {
  background: url("../img/gif/feedback2.gif") no-repeat;
  background-size: cover;
}
.eighth .video_block:nth-child(6) {
  background: url("../img/gif/feedback6.gif") no-repeat;
  background-size: cover;
}

@media screen and (min-width: 1065px) {
  .eighth > .wrap > h2 {
    float: left;
    max-width: 321px;
  }
  .eighth_video {
    position: relative;
    float: right;
  }
}
@media screen and (max-width: 1064px) {
  .eighth > .wrap > h2 {
    margin-top: 95px;
    margin-bottom: 25px;
  }
  .eighth > .wrap > .btn {
    margin-top: 10px;
  }
}
@media screen and (min-width: 741px) {
  .video_block {
    width: 120px;
    height: 120px;
    margin-right: 20px;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
  }
  .video_block:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    cursor: pointer;
  }
  .video_block__large {
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
  }
  .video_block:nth-child(1), .video_block:nth-child(3), .video_block:nth-child(4) {
    margin-top: 80px;
  }
  .video_block:nth-child(4) {
    margin-right: 0;
  }
}
@media screen and (max-width: 740px) {
  .eighth > .wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .eighth > .wrap > h2 {
    max-width: 321px;
    margin-top: 50px;
  }
  .eighth_video {
    width: 100%;
    max-width: 315px;
  }

  .video_block {
    width: 80px;
    height: 80px;
    margin-right: 15px;
    margin-bottom: 15px;
  }
  .video_block__large {
    width: 125px;
    height: 125px;
  }
  .video_block__large2 {
    margin-right: 0;
  }
  .video_block:nth-child(7) {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 10px;
    height: 10px;
    opacity: 0.001;
    z-index: -99999;
  }
  .video_block:nth-child(3) {
    margin-right: 0;
  }
  .video_block:nth-child(1), .video_block:nth-child(3) {
    margin-top: 45px;
  }
}
.nineth {
  margin-top: 228px;
}
.nineth > .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.map_card {
  width: 328px;
  padding: 35px 25px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.map_card:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}
.map_card > h3 {
  margin-bottom: 7px;
}
.map_card > p, .map_card h4 {
  line-height: 20px;
}
.map_card > p > a, .map_card h4 > a {
  text-decoration: underline;
  color: inherit;
}
.map_card > p {
  margin-bottom: 10px;
}
.map__bold {
  font-size: 32px;
}

@media screen and (max-width: 960px) {
  .nineth {
    margin-top: 50px;
  }
  .nineth > .wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .nineth > .wrap > img {
    width: 100%;
    margin-bottom: 15px;
  }

  .map_card {
    width: 100%;
  }
}
.tenth {
  margin-top: 95px;
  width: 100%;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding: 40px 0 30px 0;
  background: linear-gradient(86.03deg, #C8F0EB 13.54%, #C3F1FA 89.17%);
}
.tenth > .wrap {
  width: 100%;
  max-width: 830px;
}

@media screen and (min-width: 960px) {
  .form__straight {
    margin-top: 38px;
    padding: 23px 35px 25px 55px;
    width: 100% !important;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .form__straight input[type=range] {
    width: 224px;
    margin-right: 137px;
  }
  .form__straight > .wrapper2 {
    margin: 0;
  }
  .form__straight > .wrapper2 .form_label {
    top: 14px;
    left: -10px;
  }
  .form__straight > .wrapper2 .form_label2 {
    left: 200px;
  }
  .form__straight .form_label {
    top: 14px;
    left: -10px;
  }
  .form__straight .form_label2 {
    left: 180px;
  }
  .form__straight > .wrapper {
    width: 238px;
    height: 100%;
  }
  .form__straight .btn {
    position: static;
  }

  .form_caption__straight {
    margin-top: 15px;
  }
}
@media screen and (max-width: 959px) {
  .tenth h2, .tenth h3, .tenth .h4_light {
    width: 100%;
    text-align: center;
  }
  .tenth .h4_light {
    margin-top: 30px;
  }

  .form__straight {
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (max-width: 500px) {
  .tenth {
    margin-top: 50px;
  }
  .tenth .form__straight {
    width: 95%;
  }
  .tenth .form__straight .form_label {
    top: 14px;
    left: -20px;
  }
  .tenth .form__straight .form_label2 {
    left: 200px;
  }
}
@media screen and (min-width: 960px) {
  .eleventh_map {
    min-height: 500px;
  }
}
.eleventh {
  position: relative;
  margin-top: 65px;
  width: 100%;
}
.eleventh > .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.eleventh_box {
  position: absolute;
  top: 72px;
  right: calc((100% - 960px)/2);
  width: 306px;
  padding: 35px 58px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  z-index: 9;
}
.eleventh_box__mobile {
  display: none;
}
.eleventh_box > h3 {
  position: relative;
  margin-top: 15px;
  margin-bottom: 7px;
}
.eleventh_box > p {
  line-height: 20px;
}
.eleventh_box .place {
  margin-top: 0;
}
.eleventh_box .place:before {
  position: absolute;
  top: 0px;
  left: -37px;
  display: inline-block;
  content: "";
  width: 24px;
  height: 27px;
  background: url("../img/icons/Point.svg") no-repeat center center;
}
.eleventh_box .tel:before {
  position: absolute;
  top: 3px;
  left: -37px;
  display: inline-block;
  content: "";
  width: 24px;
  height: 27px;
  background: url("../img/icons/tel.svg") no-repeat center center;
}
.eleventh_box .email:before {
  position: absolute;
  top: 0px;
  left: -35px;
  display: inline-block;
  content: "";
  width: 24px;
  height: 27px;
  background: url("../img/icons/mail.svg") no-repeat center center;
}
.eleventh_box .btn {
  margin-top: 20px;
}

@media screen and (max-width: 960px) {
  .eleventh {
    margin-top: 50px;
  }
}
@media screen and (max-width: 960px) {
  .eleventh {
    position: static;
  }
  .eleventh_box {
    display: none;
  }
  .eleventh_box__mobile {
    position: static;
    margin-top: 20px;
    display: block;
    width: 100%;
    z-index: 9;
  }
}
footer {
  margin-top: 65px;
  margin-bottom: 30px;
  padding-top: 30px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.1);
  box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.1);
}
footer > .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
footer > .wrap2 {
  margin-top: 35px;
}
footer > .wrap2 > h3 {
  margin-bottom: 7px;
}
footer > .wrap2 > p {
  line-height: 20px;
}

.footer_list__hide {
  display: none;
}

.footer_img__reflect {
  -webkit-transform: scale(1, -1);
  transform: scale(1, -1);
}

.footer_menu {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 15px;
}
.footer_menu > li {
  line-height: 20px;
  margin-right: 15px;
}
.footer_menu > li:last-child {
  margin-top: 10px;
  margin-right: 0;
}
.footer_contacts {
  margin: 0 !important;
}
.footer_contacts p {
  margin-bottom: 7px;
  line-height: 20px;
}
.footer_contacts h3 {
  line-height: 24px;
}
.footer_contacts li {
  margin-top: 15px;
}
.footer_contacts li:first-child {
  margin-top: 0;
}
.footer_payments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.footer_payments > li {
  margin-right: 45px;
}
.footer_payments > li:last-child {
  margin-right: 0;
}
.footer_age {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.footer_age > p {
  margin-left: 12px;
  line-height: 20px;
}
.footer_adress {
  margin-top: 48px;
}
.footer_adress > p {
  line-height: 20px;
  margin-bottom: 7px;
}
.footer_card {
  margin-top: 35px;
  margin-bottom: 35px;
  padding: 30px 82px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.footer_card:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}
.footer_list > li {
  margin-top: 8px;
}
.footer_list > li > p {
  line-height: 20px;
}
.footer_list > li:first-child {
  margin-top: 10px;
  max-width: 560px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.footer_list > li:first-child > img {
  margin-left: 15px;
}

@media screen and (max-width: 890px) {
  .wrap2, .wrap2.wrap {
    margin-top: 0;
  }

  .third_column {
    margin-top: 30px;
  }

  .footer_card {
    padding: 20px 40px;
  }
}
@media screen and (max-width: 556px) {
  .footer_menu {
    width: 100%;
  }
  .footer_menu > li:last-child {
    margin-top: 0;
  }

  .second_column {
    margin-top: 30px;
  }

  .third_column {
    width: 100%;
  }
  .third_column > .footer_age {
    margin-top: 25px;
    margin-bottom: 25px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}
.blur {
  -webkit-filter: blur(2px);
  filter: blur(2px);
}

.file {
  position: relative;
  width: 100%;
  height: 50px;
}

.btn__file {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 49%;
  background: #FFED00;
  border-radius: 6px;
  padding: 6px 20px;
  text-align: center;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.04em;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  z-index: 1 !important;
}
.btn__file:hover {
  cursor: pointer;
  background: #0F0F0E;
  color: #FFED00;
}
.btn__file > img {
  margin-right: 12px;
}

.close {
  width: 100%;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: -1;
}

.popup__hidden {
  display: none !important;
}

.btn__file__mobile {
  display: none;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(15, 15, 14, 0.8);
  z-index: 9999;
}
.popup_card {
  margin-top: 20vh;
  margin-left: auto;
  margin-right: auto;
  padding: 65px 40px;
  width: 500px;
  background: #fefefe;
  z-index: 5;
}
.popup_card > h2 {
  margin-bottom: 25px;
}
.popup_card input[type=text] {
  width: 100%;
  height: 40px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 12px;
  border-radius: 12px;
  background: #F4F5F5;
  border: none;
  outline: none;
  font-size: 16px;
  line-height: 18px;
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.popup_card button[type=submit] {
  width: 49%;
  background: #FFED00;
  border-radius: 6px;
  padding: 6px 20px;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.04em;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  outline: none;
  float: right;
}
.popup_card button[type=submit]:hover {
  cursor: pointer;
  background: #0F0F0E;
  color: #FFED00;
}
.popup_card input[type=file] {
  top: 0;
  left: 0;
  width: 100%;
  -moz-opacity: 0;
  filter: alpha(opacity=0);
  opacity: 0;
  font-size: 150px;
  height: 30px;
  z-index: 9999 !important;
}
.popup_close {
  position: relative;
  top: -30px;
  float: right;
}
.popup_close:hover {
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .popup_card {
    padding: 40px 20px;
    width: 90%;
  }

  .btn__file {
    display: none;
  }

  .btn__file__mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.overflow {
  overflow: hidden;
}

.play {
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: rgba(15, 15, 14, 0.8);
  z-index: 9999;
}

.smartphone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  padding: 65px 40px;
  width: 250px;
  height: 450px;
  border-radius: 25px;
  background: #fefefe;
  z-index: 5;
}
.smartphone > video {
  width: 230px;
  height: 410px;
  border-radius: 10px;
}
.smartphone_close {
  position: absolute;
  top: -30px;
  right: -30px;
  background: #fefefe;
  border: 5px solid #fefefe;
  border-radius: 50%;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.smartphone_close:hover {
  cursor: pointer;
  background: #FFED00;
  border: 5px solid #FFED00;
}

.credit-accepted {
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  z-index: 9999;
  pointer-events: none;
}
.credit-accepted_card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 290px;
  height: 85px;
  margin-left: 30px;
  margin-bottom: -200px;
  border-radius: 10px;
  background: #fefefe;
  -webkit-transition: margin-bottom 2s;
  transition: margin-bottom 2s;
}
.credit-accepted_card p {
  line-height: 20px;
  float: right;
  width: 199px;
  margin-left: 11px;
}
.credit-accepted_card__show {
  margin-bottom: 30px;
}

.h4_bold {
  font-weight: 600;
}

@media screen and (max-width: 700px) {
  .credit-accepted__show {
    margin-bottom: 60px;
  }
}
.catalog {
  margin-top: 120px;
}
.catalog > .wrap h2 {
  margin-bottom: 20px;
}
.catalog_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.catalog_card {
  width: 225px;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}
.catalog_card > .img_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-display: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 170px;
  background: linear-gradient(86.03deg, #C8F0EB 13.54%, #C3F1FA 89.17%);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.catalog_card > .wrap_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 35px;
}
.catalog_card > ul {
  min-height: 80px;
  margin: 0;
  margin-left: 41px;
  margin-right: 20px;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 20px;
  font-family: Futura PT;
}
.catalog_card > ul > li {
  position: relative;
}
.catalog_card > ul > li:before {
  position: absolute;
  top: 7px;
  left: -16px;
  display: inline-block;
  content: "";
  width: 6px;
  height: 6px;
  background: #333333;
  border-radius: 3px;
}
.catalog_card > img {
  margin-top: 10px;
  margin-left: 25px;
  margin-bottom: 7px;
}

@media screen and (min-width: 961px) {
  .catalog_card:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }
}
@media screen and (max-width: 960px) {
  .catalog {
    margin-top: 100px;
  }
  .catalog > .wrap > h2 {
    margin-bottom: 15px;
  }
  .catalog_card {
    margin-top: 20px;
  }

  .catalog2 {
    margin-bottom: 0 !important;
  }
}
@media screen and (max-width: 520px) {
  .catalog_card {
    width: 48%;
  }
  .catalog_card ul {
    margin-left: 15px;
    margin-right: 15px;
  }
  .catalog_card ul li:before {
    display: none;
  }
  .catalog_card > img {
    width: 80%;
    margin-left: 15px;
  }
}
.banner {
  margin-top: 65px;
  margin-bottom: 65px;
}
.banner_card {
  padding: 40px 190px 30px 65px;
  background: url("../img/catalog/advice 1.png") no-repeat 90% center;
}
.banner_card > h3 {
  margin-bottom: 7px;
}

@media screen and (max-width: 540px) {
  .banner {
    margin-top: 35px;
    margin-bottom: 35px;
  }
  .banner_card {
    padding: 20px 35px 20px 35px;
    background: #fefefe;
  }
}
.catalog2 {
  margin-top: 0;
  margin-bottom: 95px;
}